.col-lg-4
  .matter_fr_boxOne.Top
    .mi_cn.clearfix
      h3.mi_h3 #{categorys[13].name}
      .more
        a(href='/results?cat=#{categorys[13]._id}&p=0', target='_blank', style='margin-right:10px;')
          em.ko &#xE900;
          | 更多
    .mi_cc
      .mi_cc_ci
        ul.mi_ul
          -for(var i = xwrcb.length-1; i >= 0; i--)
            li
              case i+1
                when 1
                  i.fis #{i + 1}
                when 2
                  i.fss #{i + 1}
                when 3
                  i.fcs #{i + 1}
                default
                  i #{i + 1}
              span #{moment(xwrcb[i].meta.updateAt).format('MM.DD')}
              a(href='/movie/#{xwrcb[i]._id}', target='_blank', title='#{xwrcb[i].title}') #{xwrcb[i].title}
  .matter_fr_boxTwo
    .mi_cn.clearfix
      h3.mi_h3 #{categorys[14].name}
      .more
        a(href='/results?cat=#{categorys[14]._id}&p=0', target='_blank', style='margin-right:10px;')
          em.ko &#xE900;
          | 更多
    .mi_bc
      ul.mi_bc_ul
        -for(var i = rdjj.length-1; i >= 0; i--)
          li
            a(href='/movie/#{rdjj[i]._id}', title='#{rdjj[i].title}', target='_blank')
              span.mi_bc_img
                -if(rdjj[rdjj.length-1].poster)
                      img(src='/upload/'+rdjj[rdjj.length-1].poster)
                -else
                  img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg')
              em #{rdjj[i].title}
              span.mi_bc_posi #{rdjj[i].describe}
  .matter_fr_boxthree
    .mi_cn.clearfix
      h3.mi_h3 #{categorys[12].name}
      .more
        a(href='/results?cat=#{categorys[12]._id}&p=0', target='_blank', style='margin-right:10px;')
          em.ko &#xE900;
          | 更多
    .mi_cc
      .mi_cc_ci
        ul.mi_ulc
          -for(var i = jswqq.length-1; i >= 0; i--)
            li
              i &#xE90A;
              a(href='/movie/#{jswqq[i]._id}', target='_blank', title='#{jswqq[i].title}') #{jswqq[i].title}
