nav.navbar.navbar-inverse
  .container.nav_bar
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span.sr-only 696px
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(alt='696Px健身吧_中国专业健身网', src='/img/logo.png')
    #bs-example-navbar-collapse-1.collapse.navbar-collapse.navbar_collapse
      ul.nav.navbar-nav.navbar_nav
        li
          a(href='/results?cat=#{categorys[9]._id}&p=0')
            em &#xE903;
            | #{categorys[9].name}
            span.sr-only (current)
        li
          a(href='/results?cat=#{categorys[10]._id}&p=0')
            em &#xE90C;
            | #{categorys[10].name}
        li
          a(href='/results?cat=#{categorys[11]._id}&p=0')
            em &#xE909;
            | #{categorys[11].name}
        li
          a(href='/results?cat=#{categorys[12]._id}&p=0')
            em &#xE904;
            | #{categorys[12].name}
      ul.nav.navbar-nav.navbar-right
        if user
          li
            a#drop.dropdown-toggle(href="javascript:;",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false",style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 130px; padding-right:20px;") 欢迎您,#{user.name}
              span.caret(style="position: absolute;top: 50%;right: 10px;mragin-top:-2px;")
            ul.dropdown-menu(role="menu",ria-labelledby="drop2",style="box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);border: 1px solid #dddddd;min-width: 70px;max-width: 300px;text-align: center;")
                li(role="presentation")
                  a.hoNone(role="menuitem",tabindex="-1",href="/logouto") 退出
            </ul>
            style .nav_bar .navbar-nav li a.hoNone:hover{background: #c52f2f;color: #FFF;}
          //- li
          //-   a(href="/logout") 登出
        else
          li
            a.log-in(href='javascript:;', data-toggle='modal', data-target='.bs-example-modal-lg') 登录
          li
            a.log-up(href='javascript:;', data-toggle='modal', data-target='.bs-example-modal-lg') 注册
      form#navbar_form.navbar-form.navbar-right.clearfix.hidden-sm(role='search',method='get', action='/results')
        .form-group.pull-left
          if keyword
            input.form_control(type='text', placeholder='#{keyword}',name='search')
          else
            input.form_control(type='text', placeholder='请输入想搜索的内容...',name='search')
        button.btn_default.pull-left(type='submit') &#xE90F;
