extends ../layoutadmin
block nav
  .nav-collapse
    ul.nav
      li
        a.current(href='/admin')
          span.se7en-home(aria-hidden='true')
          | 内容列表
      li
        a(href='/admin/user')
          span.se7en-feed(aria-hidden='true')
          | 用户列表
      li
        a(href='/admin/form')
          span.se7en-forms(aria-hidden='true')
          | 新增内容
      li
        a(href='/admin/category/list')
          span.se7en-tables(aria-hidden='true')
          | 分类列表
      li
        a(href='/admin/category')
          span.se7en-charts(aria-hidden='true')
          | 分类添加

block content
  .container-fluid.main-content
    .page-title
      h1
        | #{title}
    //- DataTables Example
    .row
      .col-lg-12
        .widget-container.fluid-height.clearfix
          .heading
            i.icon-table
            | #{update}
          .widget-content.padded.clearfix
            table#datatable-editables.table.table-bordered.table-striped
              thead
                th
                  | 文章标题
                th.hidden-xs(width='10%')
                  | 描述
                th.hidden-xs(width='10%')
                  | 来源
                th.hidden-xs(width='15%')
                  | 录入时间
                th.hidden-xs(width='10%')
                  | Pv
                th(width='60') 查看
                th(width='60') 更新
                th(width='75') 删除
              tbody
                -for (var i = movies.length-1; i >= 0; i--)
                  tr(class="item-id-#{movies[i]._id}")
                    td
                      | #{movies[i].title}
                    td.hidden-xs
                      | #{movies[i].describe}
                    td.hidden-xs
                      | #{movies[i].source}
                    td.hidden-xs
                      | #{moment(movies[i].meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
                    td.hidden-xs
                      | #{movies[i].pv}
                    td
                      a(target="_blank",href="/movie/#{movies[i]._id}") 查看
                    td
                      a(href="/admin/update/#{movies[i]._id}") 修改
                    td
                      a.dal(href="javascript:;",data-id="#{movies[i]._id}") 删除
  script(src="/js/admin.js")
