extends ../layoutadmin
block nav
  .nav-collapse
    ul.nav
      li
        a(href='/admin')
          span.se7en-home(aria-hidden='true')
          | 内容列表
      li
        a.current(href='/admin/user')
          span.se7en-feed(aria-hidden='true')
          | 用户列表
      li
        a(href='/admin/form')
          span.se7en-forms(aria-hidden='true')
          | 新增内容
      li
        a(href='/admin/category/list')
          span.se7en-tables(aria-hidden='true')
          | 分类列表
      li
        a(href='/admin/category')
          span.se7en-charts(aria-hidden='true')
          | 分类添加

block content
  .container-fluid.main-content
    .page-title
      h1
        | #{title}
    //- DataTables Example
    .row
      .col-lg-12
        .widget-container.fluid-height.clearfix
          .heading
            i.icon-table
            | #{update}
          .widget-content.padded.clearfix
            table#datatable-editables.table.table-bordered.table-striped
              thead
                th
                  | 用户名
                th(width='10%')
                  | 用户权限
                th.hidden-xs(width='15%')
                  | 注册时间
                th(width='60') 更新
                th(width='75') 删除
              tbody
                each item in movies
                  tr(class="item-id-#{item._id}")
                    td
                      | #{item.name}
                    td
                      | #{item.role}
                    td.hidden-xs
                      | #{moment(item.meta.updateAt).format('YYYY/MM/DD HH:mm:ss')}
                    td
                      a(href="/admin/user/update/#{item._id}") 修改
                    td
                      a.das(href="javascript:;",data-id="#{item._id}") 删除
  script(src="/js/admin.js")
