extends ../layoutadmin
block nav
  .nav-collapse
    ul.nav
      li
        a(href='index-2.html')
          span.se7en-home(aria-hidden='true')
          | Dashboard
      li
        a(href='social.html')
          span.se7en-feed(aria-hidden='true')
          | Social Feed
      li.dropdown
        a(data-toggle='dropdown', href='#')
          span.se7en-star(aria-hidden='true')
          | Features
      li.dropdown
        a.current(data-toggle='dropdown', href='#')
          span.se7en-forms(aria-hidden='true')
          | Forms
      li.dropdown
        a(data-toggle='dropdown', href='#')
          span.se7en-tables(aria-hidden='true')
          | Tables
      li
        a(href='charts.html')
          span.se7en-charts(aria-hidden='true')
          | Charts
      li.dropdown
        a(data-toggle='dropdown', href='#')
          span.se7en-pages(aria-hidden='true')
          | Pages
      li
        a(href='gallery.html')
          span.se7en-gallery(aria-hidden='true')
          | Gallery

block content
  .container-fluid.main-content
    .page-title
      h1
        | #{title}
    .row
      .col-lg-12
        .widget-container.fluid-height.clearfix
          .heading
            i.icon-reorder
            | #{update}
          .widget-content.padded
            form.form-horizontal(method="post",action="/admin/save")
              if movie._id
                input(type="hidden",name="movie[_id]",value=movie._id)
              .form-group
                label.control-label.col-md-2 标题
                .col-md-7
                  input.form-control(placeholder='文章标题', type='text',name="movie[title]",value=movie.title)
              .form-group
                label.control-label.col-md-2 来源
                .col-md-7
                  input.form-control(placeholder='文章来源', type='text',name="movie[source]",value=movie.source)
              .form-group
                label.control-label.col-md-2 上传图片
                .col-md-4
                  if movie.poster
                    .fileupload.fileupload-exists(data-provides='fileupload')
                      span.btn.btn-default.btn-file
                        span.fileupload-new 选择图片
                        span.fileupload-exists 更换
                        input(type='file',name="movie[poster]")
                      span.fileupload-preview #{movie.poster}
                      button.close.fileupload-exists(data-dismiss='fileupload', style='float:none', type='button') &times;
                  else
                    .fileupload.fileupload-new(data-provides='fileupload')
                      span.btn.btn-default.btn-file
                        span.fileupload-new 选择图片
                        span.fileupload-exists 更换
                        input(type='file',name="movie[poster]")
                      span.fileupload-preview #{movie.poster}
                      button.close.fileupload-exists(data-dismiss='fileupload', style='float:none', type='button') &times;
              .form-group
                label.control-label.col-md-2 分类选择
                .col-md-7
                  label.radio-inline
                    input(name='optionsRadios2', type='radio', value='option1')
                    span Option 1
                  label.radio-inline
                    input(checked='', name='optionsRadios2', type='radio', value='option2')
                    span Option 2
                  label.radio-inline
                    input(name='optionsRadios2', type='radio', value='option3')
                    span Option 3
              .form-group
                label.control-label.col-md-2 文章内容
                .col-md-7
                  textarea.form-control(rows='10',placeholder="html形式",name="movie[summary]") #{movie.summary}
              .form-group
                label.control-label.col-md-2 发布
                .col-md-7
                  button.btn.btn-default-outline 取消
                  button.btn.btn-primary(type='submit') 提交
