extends ../layout
block topcss
  link(href="/css/combined-8e4b131a2a.css",rel="stylesheet")
block content
  .container
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-4
        .main_left_one
          #carousel-example-generic.carousel.slide.carousel_example_generic(data-ride='carousel')
            ol.carousel-indicators.carousel_indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
            .carousel-inner.carousel_inner(role='listbox')
              -for (var i = imgEm.length-1; i >= 0; i--)
                -if(i==imgEm.length-1)
                  .item.active
                    a(href='/movie/#{imgEm[i]._id}')
                      -if(imgEm[i].poster)
                        img(src='/upload/#{imgEm[i].poster}', alt='#{imgEm[i].title}',style="width:100%;height:270px ")
                      -else
                        img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg', alt='#{imgEm[i].title}',style="width:100%;height:270px ")
                -else
                  .item
                    a(href='/movie/#{imgEm[i]._id}')
                      -if(imgEm[i].poster)
                        img(src='/upload/#{imgEm[i].poster}', alt='#{imgEm[i].title}',style="width:100%;height:270px ")
                      -else
                        img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg', alt='#{imgEm[i].title}',style="width:100%;height:270px ")
        .main_left_two
          .main_box_s.clearfix
            h3 #{category[0].name}
            .more
              a(href='/results?cat=#{category[0]._id}&p=0', target='_blank')
                em.ko &#xE900;
                |更多
          .main_box_x
            ul.main_box_xx
              -for (var i = resOne.length-1; i >= 0; i--)
                li
                  span.box_2
                    a.box_img(href='/movie/#{resOne[i]._id}', target='_blank')
                      -if(resOne[i].poster)
                        img(src='/upload/#{resOne[i].poster}')
                      -else
                        img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg')
                  a(href='/movie/#{resOne[i]._id}', target='_blank')
                    //- | #{i-4}
                    span.box #{resOne[i].summary.replace(/<p>/gi,'').substring(0,30)}…
                  span.box_1 #{resOne[i].pv}
      .col-xs-12.col-sm-6.col-md-6.col-lg-5.Top
        .pAdding
          .main_midde_one
            .main_toppic
              a.lrge(href='/movie/#{Indexfocus[5]._id}', title='#{Indexfocus[5].title}') #{Indexfocus[5].title};
              .toppic
                a(href='/movie/#{Indexfocus[5]._id}', style='color:red', target='_blank') [#{Indexfocus[3].title}]
                a(href='/movie/#{Indexfocus[5]._id}', target='_blank') [#{Indexfocus[2].title}]
            .main_toppic
              a.lrge(href='/movie/#{Indexfocus[5]._id}', title='#{Indexfocus[5].title}') #{Indexfocus[4].title}
              .toppic
                a(href='/movie/#{Indexfocus[5]._id}', target='_blank') [#{Indexfocus[1].title}]
                a(href='/movie/#{Indexfocus[5]._id}', target='_blank') [#{Indexfocus[0].title}]
          .main_midde_two
            #notice-tit.notice-tit
              ul.clearfix
                li.select #{category[3].name}
                li #{category[4].name}
                li #{category[5].name}
                li(style='border-right: 0;') #{category[6].name}
            #notice-con.notice-con
              .mod(style='display:block ;')
                ul
                  -for(var i = jswq.length-1; i >= 0; i--)
                    li
                      case jswq[i].describe
                        when '新闻'
                          i(style='background:#34c4d7') #{jswq[i].describe}
                        when '娱乐'
                          i(style='background:#999') #{jswq[i].describe}
                        when '公告'
                          i(style='background:#ff5c50') #{jswq[i].describe}
                        when '综合'
                          i(style='background:#34d7c3') #{jswq[i].describe}
                        default
                          i(style='background:#999') #{jswq[i].describe}
                      span #{moment(jswq[i].meta.updateAt).format('MM-DD')}
                      a(href='/movie/#{jswq[i]._id}', title='#{jswq[i].title}', target='_blank') #{jswq[i].title}
                    -if(i==15)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==10)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==5)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                a.notice-con_one(href='/results?cat=#{category[3]._id}&p=0', target='_blank') &#x66F4;&#x591A;
              .mod
                ul
                  -for(var i = shbk.length-1; i >= 0; i--)
                    li
                      case shbk[i].describe
                        when '新闻'
                          i(style='background:#34c4d7') #{shbk[i].describe}
                        when '娱乐'
                          i(style='background:#999') #{shbk[i].describe}
                        when '公告'
                          i(style='background:#ff5c50') #{shbk[i].describe}
                        when '综合'
                          i(style='background:#34d7c3') #{shbk[i].describe}
                        default
                          i(style='background:#999') #{shbk[i].describe}
                      span #{moment(shbk[i].meta.updateAt).format('MM-DD')}
                      a(href='/movie/#{shbk[i]._id}', title='#{shbk[i].title}', target='_blank') #{shbk[i].title}
                    -if(i==15)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==10)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==5)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                a.notice-con_one(href='/results?cat=#{category[4]._id}&p=0', target='_blank') &#x66F4;&#x591A;
              .mod
                ul
                  -for(var i = ydss.length-1; i >= 0; i--)
                    li
                      case ydss[i].describe
                        when '新闻'
                          i(style='background:#34c4d7') #{ydss[i].describe}
                        when '娱乐'
                          i(style='background:#999') #{ydss[i].describe}
                        when '公告'
                          i(style='background:#ff5c50') #{ydss[i].describe}
                        when '综合'
                          i(style='background:#34d7c3') #{ydss[i].describe}
                        default
                          i(style='background:#999') #{ydss[i].describe}
                      span #{moment(ydss[i].meta.updateAt).format('MM-DD')}
                      a(href='/movie/#{ydss[i]._id}', title='#{ydss[i].title}', target='_blank') #{ydss[i].title}
                    -if(i==15)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==10)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==5)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                a.notice-con_one(href='/results?cat=#{category[5]._id}&p=0', target='_blank') &#x66F4;&#x591A;
              .mod
                ul
                  -for(var i = zxgz.length-1; i >= 0; i--)
                    li
                      case zxgz[i].describe
                        when '新闻'
                          i(style='background:#34c4d7') #{zxgz[i].describe}
                        when '娱乐'
                          i(style='background:#999') #{zxgz[i].describe}
                        when '公告'
                          i(style='background:#ff5c50') #{zxgz[i].describe}
                        when '综合'
                          i(style='background:#34d7c3') #{zxgz[i].describe}
                        default
                          i(style='background:#999') #{zxgz[i].describe}
                      span #{moment(zxgz[i].meta.updateAt).format('MM-DD')}
                      a(href='/movie/#{zxgz[i]._id}', title='#{zxgz[i].title}', target='_blank') #{zxgz[i].title}
                    -if(i==15)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==10)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                    -if(i==5)
                      p(style="margin: 6px;height: 1px;border-top: 1px dashed #eaeaea;")
                a.notice-con_one(href='/results?cat=#{category[6]._id}&p=0', target='_blank') &#x66F4;&#x591A;
      .col-xs-12.col-sm-6.col-md-6.col-lg-3.Top.TopIp.visible-lg.visible-xs
        .pAdding
          .main_right_one
            .main_box_s1.clearfix
              h3.xwgg #{category[7].name}
              .more
                a(href='/results?cat=#{category[7]._id}&p=0', target='_blank')
                  em.ko &#xE900;
                  |更多
            .main_time
              .main_time_box
                i.icon &#xE908;
                .main_time_box_a
                  h3.eo 2016年
              -for(var i = xwgg.length-1; i >= 0; i--)
                .main_time_box1
                  .main_time_box
                    i.icon &#xE908;
                    .main_time_box_i1
                      h4.bbt
                        a(href='/movie/#{xwgg[i]._id}', target='_blank') #{xwgg[i].title.substring(0,11)}
                      p.ipac #{xwgg[i].summary.replace(/<p>/gi,'').substring(0,13)}...
                    .main_time_box_i2
                      - if( !(i%2 == 0) )
                        p.mvp.co #{moment(xwgg[i].meta.updateAt).format('MM.DD')}
                      - else
                        p.mvp #{moment(xwgg[i].meta.updateAt).format('MM.DD')}
                      p.ipac #{xwgg[i].describe}
    .row
      .col-xs-12.col-sm-6.col-md-6.col-lg-9.tb
        .while.padd
          .Title
            h2.tit.pull-left #{category[8].name}
            .more.pull-right(style='margin:18px 0 ;')
              a(href='/results?cat=#{category[8]._id}&p=0', target='_blank')
                em.ko &#xE900;
                |更多
          .row.paddt
            .col-xs-12.col-sm-12.col-md-12.col-lg-4.cent.tb
              .mop
                a(href='/movie/'+jkkx[jkkx.length-1]._id, target='_blank')
                  //- img(src='img/icon/1511261.jpg')
                  -if(jkkx[jkkx.length-1].poster)
                        img(src='/upload/'+jkkx[jkkx.length-1].poster)
                  -else
                    img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg')
                h3
                  a(href='/movie/'+jkkx[jkkx.length-1]._id, target='_blank')=jkkx[jkkx.length-1].title.substring(0,11)
                span
                  a(href='/movie/'+jkkx[jkkx.length-1]._id, target='_blank') #{jkkx[jkkx.length-1].summary.replace(/<p>/gi,'').substring(0,30)}...
            .col-xs-12.col-sm-12.col-md-12.col-lg-4.cent.tb
              .mcp
                .Newlist
                  h3
                    a(href='/movie/#{jkkx[jkkx.length-2]._id}', target='_blank') #{jkkx[jkkx.length-2].title.substring(0,25)}
                  p
                    a(href='/movie/#{jkkx[jkkx.length-2]._id}', target='_blank') #{jkkx[jkkx.length-2].summary.replace(/<p>/gi,'').substring(0,50)}...
                dl.IJ.clearfix
                  dt
                    h4 同类推荐
                  -for(var i = jkkx.length-5; i >= 0; i--)
                    dd
                      a(href='/movie/#{jkkx[i]._id}', target='_blank') #{jkkx[0].title.substring(0,7)}
            .col-xs-12.col-sm-12.col-md-12.col-lg-4.cent.tb
              .mcp.mi
                -for(var i = jkkx.length-3; i >= 0; i--)
                  h3
                    a(href='/movie/#{jkkx[i]._id}', target='_blank') #{jkkx[i].title.substring(0,25)}
                  p
                    a(href='/movie/#{jkkx[i]._id}', target='_blank') #{jkkx[i].summary.replace(/<p>/gi,'').substring(0,50)}...
      .col-xs-12.col-sm-6.col-md-6.col-lg-3.tb
        .while.padd
          .tic
            h2.titc #{category[12].name}
            .more.pull-right(style='margin:18px 0')
              a(href='/results?cat=#{category[12]._id}&p=0', target='_blank')
                em.ko &#xE900;
                | 更多
          ul.tao
            -for(var i = ysjk.length-1; i >= 0; i--)
              if (i == ysjk.length-1)
                li.cnb(style='height:189px; ')
                  span.cic(style='display:none') &#xE90A;
                  h4 #{ysjk[i].title.substring(0,14)}
                  em.cn &#xE90E;
                  a.toon(href='/movie/#{ysjk[i]._id}', style='opacity: 1; border: 1px solid #EEE;background: #F7F7F7', target='_blank')
                    -if(ysjk[ysjk.length-1].poster)
                      img(src='/upload/'+ysjk[ysjk.length-1].poster)
                    -else
                      img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg')
                    |&nbsp;#{ysjk[i].summary.replace(/<p>/gi,'').substring(0,36)}...
              else
                span.cic &#xE90A;
                h4 #{ysjk[i].title.substring(0,14)}
                em
                a.toon(href='/movie/#{ysjk[i]._id}', target='_blank')
                  -if(ysjk[ysjk.length-1].poster)
                      img(src='/upload/'+ysjk[ysjk.length-1].poster)
                  -else
                    img(src='/svg/iconhtml(#{parseInt(26*Math.random())}).svg')
                  |&nbsp;#{ysjk[i].summary.replace(/<p>/gi,'').substring(0,36)}...

block botjs
  script(src='/js/combined-39ff5da341.js')
