extends ../layout
block topcss
  link(href="/css/list-8239550b95.css",rel="stylesheet")
block content
  .container
    .row
      .col-lg-8
        .matter_fl_page
          .mod_a
            a.mod_a_a(href='http://www.696px.com', target='_blank')
              i &#xE905;
              em 696Px健身吧
            span &raquo;
            b #{keyword}
          ul.mod_u
            if movies && movies.length > 0
              -for (var i = movies.length-1; i >= 0; i--)
                li
                  span #{moment(movies[i].meta.updateAt).format('MM.DD')}
                  a(href='/movie/#{movies[i]._id}', target='_blank', title=movies[i].title) #{movies[i].title}
            else
              li
                span(style="text-align:center;font-size:24px;display:block;float:none") 没有找到你想搜索的内容
          // Page换页
          .pageNum
            if movies && movies.length > 0
              if currentPage != 1
                span
                  a(target='_self', href='/results?#{query}&p=#{currentPage-2}') &lt;

              - for(var i = 0;i<totalpage; i++){
                - if(currentPage == (i+1)){
                    span#pageNN
                      a(target='_self', href='javascript:;') #{currentPage}
                - }else {
                    span
                      a(target='_self', href='/results?#{query}&p=#{i}') #{i + 1}
                - }
              - }
              if currentPage != totalpage
                span
                  a(target='_self', href='/results?#{query}&p=#{currentPage}') &gt;
      include ../includes/center

block botjs
  script(src='/js/list-93759db6d5.js')

